.contactSection {
    padding: 150px 0 80px;
    background: #ffffff;
}

.container {
    width: 90%;
    max-width: 1300px;
    margin: auto;
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 60px;
}

/* Image Section */
.imageBox {
    width: 70%;
}

.imageBox img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
}

/* Content Section */
.contentBox {
  width: 30%;
}

.contentBox h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.infoBlock {
  margin-bottom: 25px;
}

.infoBlock h4 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #000;
}

.infoBlock p {
  font-size: 15px;
  line-height: 24px;
  color: #333;
}

.infoBlock a {
  font-size: 15px;
  color: #1a73e8;
  text-decoration: none;
}

.infoBlock a:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 991px) {

  .contentBox h2 {
    text-align: left;
  }

  .contentBox {
    text-align: left;
  }
}

.teamSection {
  width: 100%;
  overflow: hidden;
}

.mapWrapper {
  width: 100%;
}

.mapWrapper iframe {
  width: 100%;
  border: none;
}

.joinBox {
  text-align: center;
  padding: 40px 20px;
}

.joinBox h2 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 12px;
}

.joinBox p {
  font-size: 14px;
  color: #838383;
}

.joinBox a {
  color: #4da6ff;
  text-decoration: none;
}

.joinBox a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .mapWrapper {
    height: 300px;
  }

  .joinBox h2 {
    font-size: 24px;
  }

  .joinBox p {
    font-size: 13px;
  }
}


/* contact.module.css */
.mapWrapper {
  width: 100%;
  height: 550px;
  position: relative;
  overflow: hidden;
}

/* visual dark effect */
.darkIframe {
  filter: invert(0.9) hue-rotate(180deg) brightness(0.7) saturate(0.9);
  transform: translateZ(0);
  /* optional: reduce pointer events if overlaying UI */
}




@media only screen and (max-width: 767px) { 

.imageBox {
    width: 100%;
}
.contentBox {
  width: 100%;
}
.contactSection {
    padding: 100px 0 40px;
}
.mapWrapper {
  height: 400px;
}
.imageBox img {
  border-radius: 7px;
}
.contentBox h2 {
  font-size: 25px;
  margin-bottom: 10px;
}
.wrapper {
    flex-wrap: wrap;
    gap: 9px;
}

}



@media only screen and (min-width: 767px) and (max-width: 1024px) { 

.imageBox {
    width: 50%;
}
.contentBox {
  width: 50%;
}
.contentBox h2 {
  font-size: 25px;
  margin-bottom: 10px;
}
.imageBox img {
  height: 290px;
  border-radius: 10px;
}
.contactSection {
    padding: 110px 0 50px;
}
.mapWrapper {
  height: 450px;
}





}