.section {
  padding: 130px 0 80px;
}

.heading {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
  letter-spacing: 1px;
}

.grid {
  width: 90%;
  margin: auto;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.card {
    text-align: center;
    box-shadow: 0 0 10px 0 #ddd;
    padding: 10px;
    border-radius: 11px;
}

.image {
  width: 100%;
  height: 380px;
   border-radius: 10px;
  object-fit: cover;
}

.category {
  margin-top: 20px;
  color: #808080;
  font-size: 14px;
}

.title {
  margin-top: 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
}

.date {
  margin-top: 12px;
  font-size: 14px;
  color: #888;
}









@media only screen and (max-width: 767px) {

.section {
  padding: 80px 0 40px;
}
.heading {
  font-size: 30px;
  margin-bottom: 20px;
}
.grid {
    gap: 18px;
    grid-template-columns: repeat(2, 1fr);
    width: 93%;
}
.title {
    font-size: 16px;
}

.date {
  margin-top: 5px;
  font-size: 12px;
}
.image {
  height: 190px;
}

}








@media only screen and (min-width: 768px) and (max-width: 1024px) {

.grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.image {
  height: 230px;
}

.section {
  padding: 100px 0 60px;
}
.heading {
    font-size: 30px;
    margin-bottom: 30px;
}
}



