.projectSection {
  width: 100%;
  padding: 130px 0px 80px;
}

.heading {
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 1px;
}

.subtext {
  max-width: 700px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.6;
  color: #555;
}

/* FILTER BAR */
.filterWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 40px 0;
}

.filterBtn {
  background: transparent;
  border: none;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  padding: 0;
  text-transform: capitalize;
  color: #000;
}

.filterBtn::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 1px;
  background: #000;
  transition: 0.3s;
}

.active {
  font-weight: 600;
}

.active::after {
  width: 100%;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.card:hover .overlay h3 {
    opacity: 1;
}
.card::after {
    position: absolute;
    content: '';
    background-color: #3736363b;
    width: 100%;
    height: 100%;
    top: 0px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: 0.5s all 
ease-in-out;
    border-radius: 4px;
    backdrop-filter: blur(4px);
}
.card:hover::after {
    opacity: 1;
}
.card {
  position: relative;
  border-radius: 0px;
  overflow: hidden;
  padding: 0px;
  transition: 1s all ease-in-out;
  border-radius: 5px;
}

.image {
  width: 100%;
  height: 450px;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}

/* Image Text Overlay */
.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: 0.3s;
  text-align: center;
}

.overlay h3 {
  font-size: 14px;
  letter-spacing: 1px;
  color: #000;
  opacity: 0;
  z-index: 99;
  position: relative;
  padding: 50px;
}
.card .imgWrapper {
  transition: 1s all ease-in-out;
  border-radius: 4px;
}
.card:hover .overlay h3 {
  color: #fff !important;
  transform: translate(-0%, -20%);
}

.card .overlay h3 {
  transition: 1s all ease-in-out;
}
.card:hover .imgWrapper {
  transform: scale(1.2);
}
.card:hover .overlay {
  opacity: 1;
}

/* RESPONSIVE */
@media (max-width: 991px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}


/* Single Page Css */

.singlePage {
  padding-bottom: 60px;
}

.loading {
  text-align: center;
  padding: 40px 0;
  font-size: 20px;
  font-weight: 600;
}

/* HEADER LARGE IMAGE */
.headerImage img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/* TITLE */
.title {
  font-size: 42px;
  font-weight: 700;
  margin-top: 40px;
}

/* CONTENT */
.description {
  font-size: 18px;
  line-height: 1.7;
  margin: 15px 0 40px;
  color: #444;
}

/* IMAGE GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.imageBox img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 0px;
}


@media only screen and (max-width: 767px) {

.projectSection {
  width: 93%;
  padding: 90px 15px 50px;
}
.filterWrapper {
  gap: 20px;
  margin: 35px 0;
}
.heading {
  font-size: 28px;
}
.grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.image {
  height: 250px;
}
.overlay h3 {
  font-size: 13px;
  padding: 25px;
}



}








@media only screen and (min-width: 767px) and (max-width: 1024px) {

.projectSection {
  padding: 130px 25px 80px;
  width: auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.image {
  height: 350px;
}


}


