.singlePage {
  padding: 120px 0 !important;
  min-height: auto;
  width: 90%;
  margin: auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.imgBox img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}

.descriptionBox {
  margin-top: 60px;
  max-width: 900px;
}

.singlePage {
  padding: 80px;
}

/* TOP SECTION */
.topSection {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 60px;
  align-items: center;
  margin-bottom: 80px;
}

.leftContent h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.leftContent p {
  max-width: 420px;
  line-height: 1.6;
  font-size: 16px;
}

.mainImage img {
  width: 100%;
  border-radius: 14px;
  height: 450px;
  object-fit: cover;
}

/* GALLERY */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.imgBox img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.singlePage {
  padding: 80px;
}

.topSection {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 60px;
  align-items: center;
  margin-bottom: 70px;
}

.leftContent h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.leftContent p {
  max-width: 420px;
  line-height: 1.6;
}

.mainImage img {
  width: 100%;
  border-radius: 14px;
}

/* FILTER BAR */
.filterWrap {
  display: flex;
  justify-content: center;
  gap: 36px;
  margin: 40px 0 50px;
  flex-wrap: wrap;
}

.filterWrap button {
  background: none;
  border: none;
  padding: 0;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.filterWrap button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 1px;
  background: #000;
  opacity: 0;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.filterWrap button:hover::after {
  opacity: 0.5;
  transform: scaleX(1);
}

.active::after {
  opacity: 1;
  transform: scaleX(1);
}

/* GALLERY */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.imgBox img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 0px;
}





@media only screen and (max-width: 767px) {
  .singlePage {
    padding: 80px 20px; 
  }

.topSection {
  display: block;
  grid-template-columns: 1fr 1.2fr;
  gap: 60px;
  margin-bottom: 40px;
}
.gallery {
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.imgBox img {
  height: 250px;
}
.leftContent h1 {
  font-size: 28px;
  margin-bottom: 0px;
}

}






@media only screen and (min-width: 767px) and (max-width: 1024px) {

.singlePage {
  padding: 80px 25px;
}
.singlePage {
  min-height: auto;
}
.imgBox img {
  height: 300px !important;
}
.gallery {
  gap: 7px;
}
.topSection {
  display: block;
}

}

