.footerSection {
  background: #000;
  padding: 80px 0 40px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.container {
  padding: 0 100px;
}

/* GRID Layout */
.footerGrid {
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr;
  gap: 50px;
}

.col p,
.col span,
.col a {
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-bottom: 8px;
  opacity: 0.9;
}

.title {
  font-size: 17px;
  letter-spacing: 2px;
  margin-bottom: 18px;
  font-weight: 600;
}

.desc {
  margin-bottom: 20px;
  opacity: 0.9;
}

/* CONTACT */
.contact a { color: #fff; text-decoration: none; }
.contact a:hover { opacity: 1; }

/* LINKS */
.links { list-style: none; padding: 0; margin: 0; }
.links li { margin-bottom: 6px; }
.links a {
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
}
.links a:hover { opacity: 1; }

/* BUTTON */
.btn {
  background: #fff;
  color: #000;
  padding: 12px 32px;
  border: none;
  font-weight: 600;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s;
  width: fit-content;
  text-decoration: none;
}
.btn:hover { background: #dcdcdc; }

/* COPYRIGHT BOTTOM */
.bottom {
  margin-top: 60px;
  border-top: 1px solid rgba(255,255,255,0.15);
  padding-top: 20px;
  text-align: left;
  font-size: 13px;
  opacity: 0.75;
}

/* Responsive */
@media (max-width: 991px) {
  .footerGrid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
.footerGrid {
  grid-template-columns: 1fr;
  text-align: left;
  gap: 20px;
}
.btn {
    margin: auto;
    padding: 10px 0;
    margin-top: 15px;
    width: 100%;
    font-size: 12px;
    text-align: center;
  }
.bottom { 
  text-align: left; 
  margin-top: 40px;
  font-size: 12px;
}
.footerSection {
  padding: 40px 5px 40px;
}
.title {
  font-size: 15px;
}
.col p,
.col span,
.col a {
  font-size: 12px;
  line-height: 22px;
}



}






@media only screen and (min-width: 767px) and (max-width: 1024px) {  

.footerSection {
  padding: 50px 30px 30px;
}

}







@media (max-width: 1400px) {
  .container {
    padding: 0 80px;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 60px;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 40px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 15px;
  }
}


.desc {
  width: 78%;
} 